# Eclipse
.project
.settings
.classpath
.factorypath

#Intellij
.idea/
*.iml
.DS_Store
target

log
logs
out

.DS_Store*

activemq-data/
target/
hotfolders/
bin/
transaction-logs/
.project.copy
*.log
*.bat
*.jar
protoc.exe
/.metadata/

*build.result
*image.tag
*patch.json
build.
promotion.json
patch.json

oc_patch.sh
docker_patch.sh
